@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  
  --color-[#C2847A]: #C2847A;
  --color-brand-rose: #C2847A;
  --color-brand-dark-rose: #A74E52;
  --color-brand-bg: #FAF7F5;
  --color-brand-charcoal: #2D2625;
  --color-brand-warm-gray: #786F6D;
}

/* Custom baseline styling */
body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-bg);
  color: var(--color-brand-charcoal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom elegant scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #FAF7F5;
}
::-webkit-scrollbar-thumb {
  background: #E5DDD9;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C2847A;
}
